/**
Rtl By Morteza Lotfi Nejad
WebSite: farstheme.com
@for freelanceengine 1.8.6.1
 */
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: bold;
    src: url(../../../../fonts/IRANSansWeb_Bold.eot);
    src: url(../../../../fonts/IRANSansWeb_Bold.eot?#iefix) format('embedded-opentype'),
    url(../../../../fonts/IRANSansWeb_Bold.woff2) format('woff2'),
    url(../../../../fonts/IRANSansWeb_Bold.woff) format('woff'),
    url(../../../../fonts/IRANSansWeb_Bold.ttf) format('truetype')
}
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url(../../../../fonts/IRANSansWeb.eot);
    src: url(../../../../fonts/IRANSansWeb.eot?#iefix) format('embedded-opentype'),
    url(../../../../fonts/IRANSansWeb.woff2) format('woff2'),
    url(../../../../fonts/IRANSansWeb.woff) format('woff'),
    url(../../../../fonts/IRANSansWeb.ttf) format('truetype')
}

.et-body {
    font-size: 13px;
    font-family: 'IRANSans', Tahoma, sans-serif;
    direction: rtl;
}

.font-quicksand ,.et-main-left .title, .et-main-main .title,.et-main-main .desc .form .form-item .label,.et-main-main .btn-language button, .et-main-main .list-language button, .backend-button,.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6,.desc.small, span.description{
    font-family: 'Quicksand', 'IRANSans', Tahoma, sans-serif !important;
}

.et-left-column {
    float: right;
}

.et-main-column {
    border-right: 1px solid #ebebf2;
    border-left: 0;
    margin-right: 110px;
    margin-left:0;
}

.et-header {
    margin: 0 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.et-header .slogan {
    float: right;
}

.et-header .logo {
    float: left;
    direction: ltr;
}

.et-main-left {
    float: right;
}

.et-main-main {
    margin-right: 210px;
    margin-left: 0;
}
.one-column .et-main-main {
    margin-right: 0px;
    margin-left: 0;
}

.et-main-main .desc .form .form-item {
    padding-left: 30px;
    padding-right: 0;
}

.et-main-main .desc .form {
    clear: left;
}

.show-new-currency .button-enable a, .et-main-main .desc .inner .payment .button-enable a {
    float: left;
    margin-left: 1px;
    margin-right:0;
}

.show-new-currency .button-enable a:first-child, .et-main-main .desc .inner .payment .button-enable a:first-child {
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.show-new-currency .button-enable a:nth-child(2), .et-main-main .desc .inner .payment .button-enable a:nth-child(2) {
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}

.show-new-currency .button-enable a:first-child span, .et-main-main .desc .inner .payment .button-enable a:first-child span {
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

.show-new-currency .button-enable a:nth-child(2) span, .et-main-main .desc .inner .payment .button-enable a:nth-child(2) span{
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}

.pay-plans-list li .actions {
    left: 20px;
    right:auto;
}

.sortable li {
    padding-right: 25px;
    padding-left:0;
}

.sortable .sort-handle {
    right: 3px;
    left: auto;
}

.pay-plans-list li span {
    padding-left: 20px;
    padding-right: 0;
}

.et-body .f-left, .et-body .f-left-all > * {
    float: right;
}

.engine-payment-form .form.payment-plan .form-item > div {
    padding-left: 40px;
    padding-right:0;
}

.et-main-main .desc .payment-plan .submit span.icon {
    margin-right: 20px;
    margin-left:0;
}

.btn-template-help {
    margin: -5px 0 0 10px;
}

.et-main-main .btn-language button, .et-main-main .list-language button, .backend-button {
    display: block;
    padding: 0 8px 0 38px;
    text-align: right;
    margin-left: 10px;
    margin-right: 0;
}

.et-main-main .list-language li, .et-main-main .menu-currency li {
    margin-left: 10px;
    margin-right:0;
    float: right;
}

.et-main-main .btn-language button span, .et-main-main .list-language button span {
    float: left;
    margin-left: 2px;
    margin-right: 2px;
    left: 18px;
    right: auto;
}

.btn-language {
    margin-right: 30px;
    margin-left:0;
}

#translate-form .label{
    direction: ltr;
    text-align: left;
}

.et-member-search .et-search-input {
    margin-right: 170px;
    margin-left:0;
}

.et-body .search-box input {
    padding: 10px 10px 10px 30px;
}

.et-body .search-box span.icon {
    left: 20px;
    right: auto;
}

.et-member-search .et-search-role {
    float: right;
}

/*.et-main-main .title {*/
    /*padding-right: 20px !important;*/
    /*padding-left: 0 !important;*/
/*}*/

.desc.small, span.description {
    font-family: Tahoma,Arial,sans-serif !important;
    font-size: 11px !important;
}

span.description {
    margin-right: 30px !important;
    margin-left:0 !important;
}

.et-main-main .list-payment {
    clear: left;
}

.et-mem-container .et-mem-avatar {
    float: right;
}

.et-mem-container .et-mem-avatar img {
    margin: 0 10px 0 0;
}

.et-act {
    float: left;
    text-align: right;
    padding-left: 10px;
    padding-right: 0;
}

.et-mem-detail {
    margin: 0 60px 0 250px;
}

.et-mem-detail .et-mem-top > span, .et-mem-detail .et-mem-bottom > span {
    margin-left: 10px;
    margin-right: 0;
}

.overview .list-inner li {
    padding-right: 10px;
    padding-left:0;
}

.et-main-main .list-payment .method {
    float: left;
}

.et-main-main .list-payment .price {
    margin-left: 3px;
    margin-right: 0;
}

.overview .list-inner li .error {
    float: right;
}

.overview .list-inner li .method a {
    margin-right: 10px;
    margin-left: 0;
}

.overview .list-inner li .method a {
    margin-right: 10px;
    margin-left:0;
}

.et-main-main .desc .payment-plan input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 0;
}

.btn-language .form-icon {
    right: 85px;
    left: auto;
}

.et-main-main .desc .form .form-item > span.icon {
    float: left;
    left: 0;
    right: auto;
}